h3{
    font-size: 13px;
    font-weight: 500;
    height: 48px;
    line-height: 16px;
    color: rgba(0,0,0,.54);
    padding: 16px;
}

p.mat-line{
    text-overflow: unset!important;
    white-space: inherit!important;
}

a{
    text-decoration: none!important;
}