.table-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

ion-toolbar{
    --min-height: 0;
}

table{
    border-color: #e5e5e5;
}

td.mat-cell, td.mat-footer-cell{
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

th.mat-header-cell{
    text-align: center!important;
}

.period{
    padding: 6px;
    width: 250px;
    font-size: 13px;
    height: 108px;

    &--button{
        margin: 0;
        border-radius: 4px;
        text-align: center;
        color: rgba(255, 255, 255, 0.95);
        background-color: #2196f3;
        height: 100%;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

td, th{
    padding-top: 24px;
    padding-bottom: 24px;
}

th.mat-cell{
    padding-right: 24px;
}

tbody th{
    padding-left: 18px;
    padding-right: 18px;
}

thead th{
    top: 0;
    z-index: 100;

    &::after{
        width: 100%;
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.23);
        z-index: 100;
        height: 1px;
    }

    &:first-child{
        background: transparent!important;
        border-right: 1px solid #e5e5e5;

        &::after{
            box-shadow: none!important;
        }
    }
}

tbody tr:last-child th span{

    &::before{
        top: -40px;
    }

    &::after{
        content: attr(endtime);
        position: relative;
        bottom: -30px;
        font-size: 80%;
    }
}

tbody th{
    left: 0;
    z-index: 1;

    span::before{
        content: attr(starttime);
        position: relative;
        top: -47px;
        font-size: 80%;
    }

    &::after{
        height: 100%;
        border-right: 1px solid #e5e5e5;
        z-index: 2;
        width: 1px;
    }
}

th{
    position: sticky;
    background: #fff;

    &::after{
        content: "";
        position: absolute;
        right: -1px;
        bottom: 0;
    }
}