<div class="drawer">
    <ul>
        <li routerLinkActive="active" routerLink="/tabs/home">
            <ion-icon name="home"></ion-icon>
            <span>Home</span>
        </li>
        <li routerLinkActive="active" routerLink="/tabs/library">
            <ion-icon name="folder"></ion-icon>
            <span>Library</span>
        </li>
        <li routerLinkActive="active" routerLink="/tabs/timetable">
            <ion-icon name="calendar"></ion-icon>
            <span>Timetable</span>
        </li>
        <li routerLinkActive="active" routerLink="/tabs/about">
            <ion-icon name="information-circle"></ion-icon>
            <span>About</span>
        </li>
    </ul>
</div>