// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4285F4;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

[theme="light"]{
  &:root{
    --bg-color: #fff;
    --bg-dark: rgba(0,0,0,0.04);
    --border-color: #dadce0;
    --text-color: rgb(102, 102, 102);
  }
}

[theme="dark"]{
  &:root{
    --bg-color: #202124;
    --bg-dark: #202124;
    --bg-light: #313235;
    --text-color: #F1F3F4;
    --text-dull: #BDC1C6;
    --border-color: #4a4c4f;
  }

  ion-content{
    --background: var(--bg-color);
    --color: var(--text-color);
  }

  ion-toolbar:not(.normal){
    --background: var(--bg-light);
    --color: var(--text-color);
  }

  ion-toolbar.normal{
    --background: var(--bg-color);
    --color: var(--text-color);
  }

  ion-tab-bar{
    --background: var(--bg-color);
    --border: 1px solid transparent;
    --color: var(--text-dull);
  }

  ion-tab-button{
    --color-selected: var(--ion-color-primary)!important
  }

  .mat-list-base .mat-subheader{
    color: var(--text-dull)!important;
  }

  .mat-list-base .mat-list-item{
    color: var(--text-color)!important;
  }

  .mat-header-cell{
    color: var(--text-dull);
  }

  mat-divider,
  tbody th::after,
  .mat-table *{
    border-color: var(--border-color)!important;
  }

  .mat-header-row .mat-header-cell:not(.mat-header-row .mat-header-cell:first-child){
    background-color: var(--bg-light);
  }

  .mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after,
  .mat-list-icon{
    color: var(--text-color);
    opacity: 0.6;
  }

  .mat-menu-panel,
  .mat-bottom-sheet-container{
    background: var(--bg-light);
  }

  .mat-menu-item{
    color: var(--text-color);
  }

  .searchbar{
    &--input{
      background: var(--bg-light);
      color: var(--text-color);
    }

    &--icon,
    &--button{
      color: var(--text-dull)!important;
    }
  }

  .mat-expansion-panel{
    transition: background-color 0.25s ease;

    .mat-expansion-panel-header-description,
    .mat-expansion-panel-header-title{
      color: var(--text-color)!important;
    }

    .mat-expansion-panel-header-description{
      opacity: 0.7;
    }
  }

  .mat-expansion-panel:not(.mat-expanded){
    background-color: transparent!important;
  }

  .mat-expansion-panel.mat-expanded{
    background-color: var(--bg-light)!important;
  }

  .mat-expansion-panel-header{
    background-color: transparent!important;
  }
}