<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </ion-buttons>
    <ion-title>{{subject.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion class="mat-list-base">
    <ng-container *ngFor="let res of subject.resources | loadRefs | async">
      <h3 mat-subheader *ngIf="!res.name">{{res.id}}</h3>
      <h3 mat-subheader *ngIf="res.isHeading">{{res.name}}</h3>
      <mat-expansion-panel *ngIf="!res.isHeading && res.name" hideToggle>
        <mat-expansion-panel-header matRipple collapsedHeight="72px" expandedHeight="72px" class="mat-list-item">
          <mat-panel-title class="mat-line">
            <div class="list-icon list-icon--pre">
              <img [src]="dataService.getIcon(res.type)" class="mat-icon" />
            </div>
            {{res.name}}
          </mat-panel-title>
          <mat-panel-description class="mat-line">
            <span *ngIf="res.date">{{res.date.seconds * 1000 | date}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item (click)="openFile(res)">
            <mat-icon mat-list-icon>remove_red_eye</mat-icon>
            <h4 mat-line>View</h4>
          </mat-list-item>
          <mat-list-item (click)="showInfo(res)">
            <mat-icon mat-list-icon>error_outline</mat-icon>
            <h4 mat-line>View Info</h4>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ion-content>