.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.mat-list-icon {
  color: rgb(102, 102, 102);
}

.mat-nav-list{
  padding:  10px 4px;
}

.mat-divider{
  margin: 0 14px;
}

.subject-icon{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  left: 3px;
  top: -1px;
}