<app-searchbar [style.transform]="'translateY('+search_pos+'px)'" [class.scrolled]="!isScrolling"></app-searchbar>

<ion-content [scrollEvents]="true" (ionScrollStart)="onScrollStart()" (ionScroll)="onScrolling($event)" (ionScrollEnd)="onScrollEnd()">
  <mat-nav-list>
    <ng-container *ngFor="let sm of semesters | async | reverse">
      <h3 mat-subheader>{{sm.name}}</h3>

      <ng-container *ngFor="let sub of sm.subjects | loadRefs | async">
        <mat-list-item *ngIf="sub.resources" (click)="openDetails(sub)">
          <div mat-list-icon [style.backgroundColor]="sub.color">
            <mat-icon class="subject-icon">{{sub.icon || 'book'}}</mat-icon>
          </div>
          <h4 mat-line>{{sub.name}}</h4>
          <p mat-line> {{sub.id}} - {{sub.teacher}} </p>
        </mat-list-item>
      </ng-container>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</ion-content>