.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.mat-list-icon {
  color: rgb(102, 102, 102);
}

p.mat-line{
  opacity: 0.7;
  margin-top: 4px!important;
  font-size: 13px;
}

.mat-nav-list{
  padding:  10px 4px;
}

.mat-divider{
  margin: 0 14px;
}